<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppla Maps</title>
    {% include "main/default_head.html" %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/map/map.css')}}">
</head>
<body>
    <div class="wrap">
        {% include "main/sidebar.html" %}

        <link rel="stylesheet" href="{{url_for('static', filename='css/sidebox.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/map/router.css')}}">
        <div class="router_wrap">
            <div class="router">
                <div class="search_wrap">
                    <input type="text" placeholder="Поиск...">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                        <img src="/static/img/sidebox/dice.svg" alt="">
                    </a>
                </div>
                <div class="path">
                    <h2>Маршрут</h2>
                    <div class="start-point">
                        <img src="{{url_for('static', filename='img/router/start.svg')}}" alt="">
                        <h3>Павильон №1</h3>
                    </div>

                    {% for i in range(1, path|length - 1) %}
                        <div class="start-point">
                            <img src="/static/img/router/{{i}}.svg" alt="">
                            <h3>{{path[i].short_name}}</h3>
                        </div>
                    {% endfor %}
                     
                    <div class="start-point">
                        <img src="{{url_for('static', filename='img/router/end.svg')}}" alt="">
                        <h3>{{ path[-1].short_name }}</h3>
                    </div> 

                    <div class="btns">
                        <h2>{{time}}</h2>
                        <h2>{{dist}}</h2>
                    </div>
                </div>
                <div class="btns">
                    <button class="filled_button" onclick="go_to()">Начать маршрут</button>
                    <button class="empty_button">Поделиться</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>