<link rel="stylesheet" href="{{url_for('static', filename='css/sidebox.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/map/router.css')}}">
<div class="router_wrap">
    <div class="router">
        <div class="search_wrap">
            <input type="text" placeholder="Поиск...">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <img src="/static/img/sidebox/dice.svg" alt="">
            </a>
        </div>
        <div class="path">
            <h2>Построение маршрута</h2>
            <div class="start-point">
                <img src="{{url_for('static', filename='img/router/start.svg')}}" alt="">
                <h3>Павильон №1</h3>
            </div> 
            <input type="text" placeholder="Куда" id="path">
            <div class="btns">
                <button class="a_button">Добавить точку</button>
                <button class="a_button">Сбросить</button>
            </div>
        </div>
        <div class="btns">
            <button class="filled_button" onclick="go_to()">Построить маршрут</button>
            <button class="empty_button">Поделиться</button>
        </div>
    </div>
</div>
<script>
    let path_input = document.getElementById("path")

    function go_to(){
        document.location = "/api/wayhtml/" + path_input.value
    }
</script>