<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "main/default_head.html" %}
    <title>{{ p.short_name }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/article.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebox.css')}}">
</head>
<body>
    {% include "main/sidebar.html" %}

    {% include "main/art_body.html" %}

    {% include "main/sidebox.html" %}
</body>
</html>