<div class="side_bar_wrap">
    <div class="sidebar">
        <div class="logo_wrap">
            <img src="/static/img/logos/logo.svg" alt="SUPPLE MAPS">
        </div>
        {% for i in sidebar %}
            {% if sidebar[i] == cur_page %}
                <a style="text-decoration: none;" class="sidebar_comp cur_sidebar_comp">
                    <img src="/static/img/sidebar/{{sidebar[i]}}.svg" alt="">
                    <h2>{{i}}</h2>
                </a>
            {% else %}
                <a href="/app/{{sidebar[i]}}" style="text-decoration: none;" class="sidebar_comp">
                    <img src="/static/img/sidebar/{{sidebar[i]}}.svg" alt="">
                    <h2>{{i}}</h2>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div id="short_art">
    </div>
</div>
<script>
    function replaceTargetWith( targetID, html ){
                var i, tmp, elm, last, target = document.getElementById(targetID);
                tmp = document.createElement('div');
                tmp.innerHTML = html;
                i = tmp.childNodes.length;
                last = target;
                while(i--){
                    target.parentNode.insertBefore((elm = tmp.childNodes[i]), last);
                    last = elm;
                }
                target.parentNode.removeChild(target);
            }

    function show_info(id){
        fetch("/api/poi_info/" + id)
        .then((response) => response.text())
        .then((text) => {
            replaceTargetWith("short_art", text)
        });
    }
</script>